In [1]:
#Ex.1
import pandas as pd

In [96]:
#Ex.2
import pandas as pd
print(pd.__version__)

1.1.3

In [12]:
#Ex.3
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : db08276bc116c438d3fdee492026f8223584c477
python           : 3.8.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362
machine          : AMD64
processor        : AMD64 Family 23 Model 24 Stepping 1, AuthenticAMD
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : Spanish_Argentina.1252

pandas           : 1.1.3
numpy            : 1.19.2
pytz             : 2020.4
dateutil         : 2.8.1
pip              : 20.2.4
setuptools       : 50.3.1.post20201107
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.6.2
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.2
IPython          : 7.19.0
pandas_datareader: None
bs4              : None
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
pyxlsb           : None
s3fs             : None
scipy            : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

In [139]:
#Ex.4
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']




df = pd.DataFrame(data , index=labels)

print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [140]:
#Ex.5
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [141]:
#Ex.6
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [178]:
#Ex.7
df[["age","animal"]]

   age animal
a  2.5    cat
b  3.0    cat
c  0.5  snake
d  NaN    dog
e  5.0    dog
f  2.0    cat
g  4.5  snake
h  NaN    cat
i  7.0    dog
j  3.0    dog

In [144]:
#Ex.8

columns = df[["age","animal"]]
columns.iloc[[3,4,8]]

   age animal
d  NaN    dog
e  5.0    dog
i  7.0    dog

In [148]:
#Ex.9
df[df['visits'] >= 3]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [164]:
#Ex.10

df[df['age'].isna()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [174]:
#Ex.11
cc = df[df['age'] < 3]
cc[cc['animal'].str.contains('cat')]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [180]:
#Ex.12
df[(df['age'] >=2) & (df['age'] <=4)  ]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [184]:
#Ex. 13

df['age']['f'] = 1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

<ipython-input-184-498721e055e6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age']['f'] = 1.5

In [192]:
#Ex. 14
df['visits'].sum()

19

In [193]:
#Ex. 15
#Calculate the mean age for each different animal in df



df['age'].mean()

3.375

In [209]:
#Ex.16
#Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.



k = {'animal':'Geo', 'age':87, 'visits':92, 'priority':'no'}
#append row to the dataframe

df.append(k, ignore_index=True)

   animal   age  visits priority
0     cat   2.5       1      yes
1     cat   3.0       3      yes
2   snake   0.5       2       no
3     dog   NaN       3      yes
4     dog   5.0       2       no
5     cat   1.5       3       no
6   snake   4.5       1       no
7     cat   NaN       1      yes
8     dog   7.0       2       no
9     dog   3.0       1       no
10    Geo  87.0      92       no
11    Geo  87.0      92       no
12    Geo  87.0      92       no

In [210]:
#Ex.17
#Count the number of each type of animal in df.


df['animal'].value_counts()

cat      4
dog      4
snake    2
Geo      2
Name: animal, dtype: int64

In [215]:
#Ex. 18
df.sort_values(by=['age'], inplace=True, ascending=False)
df.sort_values(by=['visits'], inplace=True, ascending=True)
print(df)

   animal   age  visits priority
6   snake   4.5       1       no
9     dog   3.0       1       no
0     cat   2.5       1      yes
7     cat   NaN       1      yes
8     dog   7.0       2       no
4     dog   5.0       2       no
2   snake   0.5       2       no
1     cat   3.0       3      yes
5     cat   1.5       3       no
3     dog   NaN       3      yes
10    Geo  87.0      92       no
11    Geo  87.0      92       no